.product-detail {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-detail-img {
    width: 65%;
    display: block;
    margin: auto;
    object-fit: scale-down
   }
  .product-detail-info {
    border-left: 1px solid var(--color-grisOscuro);
    padding: 10px;
    height: 100%;
  }
  
  .products-title{
    font-family: var(--font2);
    font-weight: 350;
    font-size: 2.5em;
    margin: 10px;
    text-align: center;
  }
  
p{
    margin-top: 0;
    margin-bottom: 2;
    font-size: 1.3em;
    color: var(--color-grisOscuro);
}
.descripcion{

 padding-bottom: 15px;
  border-bottom: 1px solid var(--color-naranjaClaro);
}
  
  .product-detail-price {
    font-size: 5em;
    margin: 10px 0;
  }

  .buy-now-button,
  .add-cart-button {
    background-color:var(--color-verde);
    font-size: 1.5em;
    color: var(--color-blanco);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    font-family: var(--font2);
  }
  
  .action-button {
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    color: var(--color-blanco);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 15px;
  }
  .carrito-compra{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

  @media (min-width: 768px){
    .product-detail-price {
        font-size: 3em;
      }
  }
