@import "catalogo.css";
@import "productDetail.css";



/* IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Work+Sans:ital,wght@0,400;0,600;1,200&display=swap');

/* VARIABLES */
:root {
  --color-naranjaClaro: #f5cd76;
  --color-grisClaro: #ebebeb;
  --color-gris50: #7f7f7f;
  --color-grisOscuro: #666666;
  --color-verde: #55b054 ;
  --color-blanco: #f2f2f2;
  --color-rojo: #ff0000; 
  --color-amarillo: #e6ff00;
  --color-negro: #000;
  --font: "Work-Sans";
  --font2: "Staatliches"
}
/* GENERALES */
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  background-color: var(--color-grisClaro);
  transition: background-color .9s;
}
body.active{
  background-color: #09071e;
  color: var(--color-gris50)
}
a:hover {
  text-decoration: none;
  color: initial;
}
li{
  list-style: none;
}

/*-------------------- HEADER -------------------*/
header {
  background-color: var(--color-naranjaClaro);
  padding: 5px 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
 header .header-container {
  max-width: 1350px;
}
 header .header-container .row{
  justify-content: space-between;
  align-content: center;
  padding-left: 0;
  }


/* Logo */
header .logo-container {
  padding: 0;
}
header .row .logo-container a img{
  width: 80px;
}

/* Contenedor del resto */
  header .container-principal{
    display: contents;
}


/* BUSCADOR */
header .buscador {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  display: none;
}
header form {
  background-color: var(--color-grisClaro);
  border-radius: 50px;
  display: flex;
  width: 100%;
}
header form input {
  background-color: transparent;
  border: none;
  border-right: 2px solid var(--color-grisOscuro);
  padding: 0px 10px;
  width: 100%;
  flex-grow: 1;
  font-family: var(--font);
}
header form input:focus {
  outline-width: 0px;
}
header form button {
  background: none;
  border: none;
  color: var(--color-grisOscuro);
  margin: 0;
}
header form button:focus {
  outline-width: 0px;
}


/*INGRESAR*/
header .ingresar {
  padding:0;
  justify-content: center;
  display: none;
}
header .ingresar a {
  text-align: center;
  font-size: 18px;
  font-family: var(--font2);
  color: var(--color-negro);
  border-radius: .25rem;
  padding: 3px .75rem;
  transition: .5s;
}
header .ingresar a:hover{
  color: var(--color-blanco);
  background-color: var(--color-grisOscuro);
}

header .solo-mobile{
  display: flex;
}


/* NAVEGACION CON BURGUER BUTTON */
.boton-hamburguesa {
  display: flex;
  justify-content: center;
}
header nav button.burger {
  color: var(--color-grisOscuro);
  font-size: 35px;
}
header nav button.burger:focus {
  outline-width: 0px;
}


/* NAVEGACION */
header .navegador ul {
  font-family: var(--font2);
  border-bottom: 1px solid var(--color-grisOscuro);
  padding: 0 15px;
}
header .navegador ul:last-child{
  border-bottom: none
}
header .navegador ul li {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0px 7px;
  width: 100%;
  margin: 10px auto;
}
header .navegador ul li a {
  font-size: 30px;
  color: var(--color-negro);
  transition: .5s ease;
}
header .navegador ul li a:hover {
  font-size: 34px;
  color: var(--color-grisOscuro);
}


/* carrito */
header .navegador .carrito li a {
  display: flex;
  justify-content: center;
  color: var(--color-verde);
}
header .navegador .carrito li a:hover {
  font-size: 34px;
  color: var(--color-verde);
  transform: rotate(360deg);  
}


/* Modo nocturno  */
input[type="checkbox"]{
  -webkit-appearance: none;
  outline: none;
  position: relative;
  width: 60px;
  height: 30px;
  background-image: url(https://assets.codepen.io/1148131/18956-NRVK2Q.jpg);
  background-size: cover;
  border-radius: 50px;
  transition: background-image .9s;
  box-shadow: 0 2px 5px 1px gray;
  cursor: pointer;
}
input[type="checkbox"]:before{
  content: "";
  width: 30px;
  height: 30px;
  background-color: rgb(244, 189, 33);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .9s;
  background-color: #4fc3f7;
}
input[type="checkbox"]:checked{
  background-image: url(https://assets.codepen.io/1148131/114955-OP0CAQ-356.jpg);
}
input[type="checkbox"]:checked::before{
  transform: translate(100%);
  background-color: #fdd835;
}


/* ------------CONTENIDO DE PÁGINAS ---------------*/
.contenido {
  margin-top: 102px;
  max-width: 1350px;
}

/*-------------HOME------------- */
#myCarousel{
    width: 100%;
    display: none;
}
.home .imagen-carrusel{
  height: 400px;
  margin-bottom: 20px;
}
.home .categorias{
  justify-content: center;
}
.home .categorias .categorias-animales{
  justify-content: space-between;
}
.home .info-nosotros{
  font-size: 25px;
  text-align: center;
  max-width: 1350;
  background-color: var(--color-blanco);
  padding: 15px;
}
.home .info-width article{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-blanco);
  padding: 25px;
}

/* -------------REGISTRARSE------------- */
.form-login-register {
  justify-content: center;
  padding-right: 0px;
  padding-left: 0px;
  width: auto;
margin-left: 10px;
margin-right: 10px;
}
.form-login-register .formulario-iniciar{
border-bottom: 1px solid var(--color-negro);
height: 250px;

}
.form-login-register form {
text-align: center;
margin: 0;
margin-bottom: 15px;
padding: 15px;
}

.form-login-register .input-contenedor{
margin-bottom: 15px; 
padding-bottom: 5px;
}


/* -------------CREAR PRODUCTO------------- */
/* Contenido general */
.nuevo-producto{
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 15px;
}
.nuevo-producto h1{
  font-family: var(--font);
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

/*--------------- Carrusel de Crear Producto -------------------------------------*/
.nuevo-producto .carrusel-add-image{
  width: 80%;
  justify-self: center;
  height: auto;
}
.nuevo-producto .carrusel-add-image .carousel-item {
  text-align: center;
  height: 350px;
}
.nuevo-producto .imagen-carrusel {
  height: 330px;
  width: auto
}
/* Boton de carrusel */
.nuevo-producto .carrusel-add-image .boton-image{
  text-align: center;
}
.nuevo-producto .carrusel-add-image .boton-image input{
  display: none;
}
.nuevo-producto .carrusel-add-image .carousel-item button{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-rojo);
  z-index: 2;
}
/* Campos */
.nuevo-producto .seleccionar{
  padding: 4px;
}
.nuevo-producto .margen{
  margin: 15px 0;
  display: flex;
 /*  justify-content: space-between; */
}
.nuevo-producto span{
  padding: 0 7px;
  color: var(--color-rojo);
}
/* .nuevo-producto .campo-animal button,
.nuevo-producto .campo-categoria button{
  background-color: white;
  border: 1px solid var(--color-negro);
  border-radius: 15px;
  font-weight: bold;
  padding: 2px 0;
} */
.nuevo-producto .vencimiento-precio-final .vencimiento {
    padding: 0;
}
.nuevo-producto .botones {
  justify-content: space-around;
  margin: 25px 0;
}
.nuevo-producto .completar {
  border: none;
}

/*-------Detalle producto ------------ */

.product-detail {
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 65%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-left: 1px solid var(--color-grisOscuro);
  padding: 10px;
  height: 100%;
}

.product-detail-title {
  font-weight: 350;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 10px;
  font-size: 1.5em;
  line-height: 1.5;
}

.product-detail-price {
  font-size: 5em;
  margin: 10px 0;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--color-naranjaClaro);
  font-size: 2em;
  margin-right: 10px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button,
.add-cart-button {
  background-color: rgb(141, 141, 141);
  font-size: 1.5em;
  color: var(--color-blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: var(--color-blanco);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

/* CARRITO */

.cart .carrito {
  color: var(--color-negro);
}

.cart .productolista {
  background-color: var(--color-blanco);
}

.cart .productolista img {
  width: 100px;
}

.cart .cantidad input {
width: 50px;
}

.cart .titulo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cart .detprimfila {
  margin-top: 2em;
}

.cart .nombreProducto {
  font-weight: 600;
}

.cart .detsegfila {
  margin-top: 1em;
}

.cart .detsegfila p {
  font-weight: 100;
  font-size: small;
}

.cart .quitar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--color-rojo);
}

.cart .seguir {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color-grisOscuro);
}

.cart .eachProduct {
  margin: 20px 0;
  border-bottom: 1px solid var(--color-negro);
  padding-bottom: 10px;
}

.cart .disctaxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.cart .disctaxes p {
  margin: 0;
  text-align: center;
}

.cart .detail {
  font-family: var(--font2);
  text-align: center;
  font-size: 30px;
  text-decoration: underline 2px var(--color-negro);
}

.cart .product,
.cart .productprice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .product p,
.cart .productprice p {
  margin: 0;
  text-align: center;
}

.cart .totalizar {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  background-color: var(--color-negro);
  border-radius: 10px;
  color: #ebebeb;
}

.cart .pagar {
  display: flex;
}

.cart .pagar i {
  padding-right: 10px;
  padding-top: 3px;
}

.cart .div-pagar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .totalizar p {
  margin: 0;
  text-align: center;
}

.cart h6,
.cart .grupobotones {
text-align: end;
}

.pushbar {
  background: var(--color-naranjaClaro);
  color: var(--color-negro);
  padding: 20px;
}

.cart .divdeboton {
justify-content: center;
display: flex;
margin: 20px 0;
}



/* -------------------FOOTER -------------------*/ 
/* FOOTER */
.footer {
  background-color: var(--color-naranjaClaro);
  padding: 10px 10px 0 10px;
  text-align: -webkit-center;
}
.footer .footer-width {
  max-width: 1350px;
}
.footer article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.footer article i {
  font-size: 35px;
  color: var(--color-celeste);
  margin: 20px 0;
}
.footer article h4,
.footer article P {
  margin: 10px 0 0 0;
}
.footer .icono{
  align-items: center;
}
.footer article h4 {
  font-size: 18px;
}
.footer article p{
  font-size: 14px;
}

.circle-button{
  font-family: var(--font);
	color: var(--color-negro);
	display: inline-block;
  font-size: 3rem;
  border-radius: 50%;
  transition: all 0.2s ease;
  text-align: center;
}

.circle-button:hover{
	animation: circle-anim 0.3s ease forwards;
  transition: all 0.4s ease;
}

.grow-container{
  display: inline-block;
  margin: 30px;
}

.to-red:hover{
  background: #dd2a7b;
  color: var(--color-blanco);
  width: 72px;
  height: 72px;
}

.to-twitter:hover{
  background: #1DA1F3;
  color: var(--color-blanco);
  width: 72px;
  height: 72px;
}

.to-facebook:hover{
  background: #3B5998;
  color: var(--color-blanco);
  width: 72px;
  height: 72px;
}

@keyframes circle-anim{
	0% {
		
	}
	
	90%{
		padding: 0.35em;
		margin: -0.35em; 
	}
	
	100%{
		padding: 0.25em;
		margin: -0.25em; 
	}
}

 .footer .redes li {
  display: flex;
  justify-content: center;
}
.copyright {
  padding: 10px 0;
  font-size: 10px;
  color: var(--color-grisOscuro);
  font: 12px;
}



/*---------- MOBILE M ------------*/
@media (min-width: 375px){
/* Header buscador */
  header .buscador{
    display: flex;
  }
  header form button{
    margin: 0 8px;
  }
/* Header boton ingresar */
  header .ingresar{
    display: flex;
  }

  header .solo-mobile{
    display: none;
  }
  /* Contenedor del resto */
  header .container-principal{
    display: flex;
  }

}
/*---------- TABLET Y DESKTOP Large ------------*/
@media (min-width: 768px){
/*----------------- HEADER ----------------------*/
  header {
  position: initial;
  }

  /* contenedor */
  header .header-container .row{
    justify-content: space-evenly;
  }
  .header-container-principal {
    padding: 0;
  }

/* LOGO */
  header .row .logo-container a img{
    width: 129px;
  }

  /* navegador*/
  header .navegador ul{
    border-bottom: none;
  }
  header .navegador .menu li {
    border-right: 2px solid var(--color-negro);;
  }
  header .navegador .menu li:last-child{
    border-right: none
  }
  header .navegador .menu ul li a{
    font-size: 20px;
  }

  /* ingresar */  
  header .ingresar a {
    font-size: 22px;
    background-color: var(--color-grisClaro);
    width: 100%;
  }

  /* carrito */
  header .navegador .carrito{
    padding-left: 30px;
  }

  /* boton nocturno */
  header .navegador .nocturno{
    padding-left: 30px;
    padding-right: 0;
  }
    
  /*-------CONTENIDO DE PAGINAS ------------ */
  .contenido {
    margin-top: 0;
  }
  /*HOME*/
  #myCarousel{
    display: block;
  }
  /*DETALLE DE PRODUCTO*/
  .product-detail-price {
    font-size: 3em;
  }
  
/*------ REGISTRARSE ---------*/


.form-login-register .formulario-iniciar{
border:none;
margin-top: 15px;
}

.form-login-register .formulario-registro{
 margin-top: 15px;
  border-left: 1px solid var(--color-naranjaClaro);
}


  /* ---------- CARGA DE PRODUCTO ---------- */
  .nuevo-producto {
    margin-top: 15px;
  }

}

/* DESKTOP Extra Large */
@media (min-width: 1200px){
/* ------------HEADER--------------- */
  header .buscador {
    padding-left: 39px;
  }

  
}