/* IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Work+Sans:ital,wght@0,400;0,600;1,200&display=swap');
@import 'header.css';
@import 'footer.css';
@import 'home.css';
@import 'catalogo.css';
@import 'faqs.css';
@import 'loginRegister.css';
@import 'productDetail.css';
@import 'productCart.css';

/* VARIABLES */
:root {
  --color-naranjaClaro: #f5cd76;
  --color-grisClaro: #ebebeb;
  --color-gris50: #7f7f7f;
  --color-grisOscuro: #666666;
  --color-verde: #55b054 ;
  --color-blanco: #f2f2f2;
  --color-rojo: #ff0000; 
  --color-amarillo: #e6ff00;
  --color-negro: #000;
  --font1: "Work-Sans";
  --font2: "Staatliches"
}
/* GENERALES */
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font1);
  background-color: var(--color-grisClaro);
  transition: background-color .9s;
}
body.active{
  background-color: #09071e;
  color: var(--color-gris50)
}
a:hover {
  text-decoration: none;
  color: initial;
}
li{
  list-style: none;
}
/* ------------CONTENIDO DE PÁGINAS ---------------*/
.contenido {
  margin-top: 102px;
  max-width: 1350px;
}
