<div class="cart">
<!-- DETALLE -->
<div data-pushbar-id="pushbar-checkout" data-pushbar-direction="right" class="pushbar pushbar-checkout">
    <!-- Titulo -->
    <h4 class="detail">Mi Carrito <i class="fas fa-shopping-cart"></i></h4>

    <div class="descripcion">
        <!-- tabla de productos -->

        <!-- Comienzo producto -->
        <div class="row eachProduct">
            <!-- imagen -->
            <div class="col-4 d-flex ">
                <img class="img-detail" src="/images/productos/15.jpg" alt="imagen de producto">
            </div>
            <div class="col-4 product">
                <p><span>1</span> X <span>Nombre de producto</span></p>
            </div>
            <div class="col-4 productprice">
                <p>$15000</p>
            </div>
        </div><!-- Final de producto -->




        <!-- Comienzo producto -->
        <div class="row eachProduct">
            <!-- imagen -->
            <div class="col-4 d-flex ">
                <img class="img-detail" src="/images/productos/15.jpg" alt="imagen de producto">
            </div>
            <div class="col-4 product">
                <p><span>1</span> X <span>Nombre de producto</span></p>
            </div>
            <div class="col-4 productprice">
                <p>$15000</p>
            </div>
        </div><!-- Final de producto -->


        <!-- Comienzo producto -->
        <div class="row eachProduct">
            <!-- imagen -->
            <div class="col-4 d-flex ">
                <img class="img-detail" src="/images/productos/15.jpg" alt="imagen de producto">
            </div>
            <div class="col-4 product">
                <p><span>1</span> X <span>Nombre de producto</span></p>
            </div>
            <div class="col-4 productprice">
                <p>$15000</p>
            </div>
        </div><!-- Final de producto -->



    </div>
    <!-- impuestos -->
    <div class="row disctaxes">
        <div class="col-8 impuesto">
            <p>Impuestos (21%):</p>
        </div>
        <div class="col-4">
            <p>$300</p>
        </div>
    </div>
    <div class="row totalizar">
        <div class="col-6">
            <p>Total:</p>
        </div>
        <div class="col-6">
            <p>$30000</p>
        </div>
    </div>
    <!-- IR A PAGAR -->
    <div class="row boton-pagar">
        <div class="col-12 div-pagar">
            <a href="/productos/carrito"class="btn btn-dark pagar">
                <i class="fas fa-cash-register"></i> Ir a medios de pago
        </a>
        </div>
    </div>
</div>
 </div>

 <script src="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.js"></script>
 <script type="text/javascript">
   const pushbar = new Pushbar({
     blur: true,
     overlay: true,
   });
 </script>