<header>
    <div class="container-fluid header-container ">
        <div class="row ">
            <!-- LOGO -->
            <div class="col-2 col-xl-1 logo-container">
                <a href="/">
                    <img src="/images/logo/logo.png" alt="">
                </a>
            </div>
            <div class="container-principal col-10 col-xl-11 row">
                <!-- BUSCADOR -->
                <div class="buscador col-8 col-md-9">
                    <form action="">
                        <input type="text" placeholder="Busca">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <!-- INGRESAR -->
                <div class="ingresar col-2 col-md-3">
                    <a href="/usuario/ingresar"> <i class="fas fa-paw"></i> <%= typeof localUser != 'undefined'? `  ${localUser.firstName}` : "  INGRESAR"%></a>
                </div>
                <!-- BURGUER BUTTON -->
                <nav class="navbar-expand-md boton-hamburguesa col-2 col-md-12">
                    <button class="navbar-toggler burger" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                </nav>
                <!-- NAV DESPLEGABLE MOBILE -->
                <nav class="navbar-expand-md col-10 col-md-12">
                    <div class="collapse navbar-collapse navegador" id="navbarSupportedContent">
                        <!-- NAVEGACION -->
                        <ul class="navbar-nav mr-auto menu col-12 col-md-9">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/productos">TIENDA</a></li>
                            <li><a href="#nosotros">NOSOTROS</a></li>
                            <li><a href="/preguntas-frecuentes">FAQS</a></li>
                        </ul>
                        <!-- CARRITO -->
                        <ul class="navbar-nav carrito col-12 col-md-1">
                            <li>
                                <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a>
                            </li>
                        </ul>
                        <!-- BOTON NOCTURNO -->
                        <ul class="navbar-nav nocturno col-12 col-md-2">
                            <li>
                                <input id="cambiarModo" type="checkbox">
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<script>
    var check = document.getElementById("cambiarModo");

    check.onclick = () => {
        document.querySelector("body").classList.toggle('active');
    }
</script>