<!DOCTYPE html>
<html lang="es">
  
  <%- include('./partials/head') %> 
  <body>
    <%- include('./partials/header') %> 
<div class="contenido">
  
      <h1><%= title %></h1>

    <%- include('./partials/footer') %> 
</div>
  </body>
</html>

