<!DOCTYPE html>
<html lang="es">
  
  <%- include('./partials/head') %> 
  <body>
    <%- include('./partials/header') %> 

    <h1><%= title %></h1>

  <%- include('./partials/footer') %> 
  </body>
</html>