<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
        <%- include('./partials/header')%>
    <section id="main">  
      <section id="content" class="container-fluid contenido faqs" style="text-align: center;">
    <h1 style="text-decoration: underline;"> <%= title %> </h1>
    <br><br>
          <h2>1&nbsp;<a href="#quees">¿Qué es FootGoose?</a></h2>
    <h2>2&nbsp;<a href="#porque">¿Por qué comprar</a><a href="#porque">?</a></h2>
    <h2>3 <a href="#contacto">¿Cómo contactarme?</a></h2>
    <h2>4&nbsp;<a href="#como">¿Cómo comprar?</a></h2>
    <h2>5&nbsp;<a href="#pagar">¿Cómo pagar?</a></h2>
    <h2>6&nbsp;<a href="#precios">¿Los precios y stock están actualizados?</a></h2>
    <h2>7&nbsp;<a href="#envios">¿El envío tiene costo?</a></h2>
    <h2>8&nbsp;<a href="#entrega">¿Cuando se entrega mi pedido?</a></h2>
    <h2>9&nbsp;<a href="#quien">¿Quién puede recibir mi pedido?</a></h2>
    <h2>10&nbsp;<a href="#nadie">Si no hay nadie para recibir, ¿qué sucede?</a></h2>
    <h2>11&nbsp;<a href="#delivery">¿Qué pasa si el delivery no llega a horario?</a></h2>
    <h2>12&nbsp;<a href="#direccion">¿Puedo cambiar la dirección de envío?</a></h2>
    <h2>13&nbsp;<a href="#descuento">¿Como aplican los descuentos?</a></h2>
    <h2><a id="quees"></a>14&nbsp;<a href="#datos">¿Es seguro ingresar mis datos?</a></h2>
    <h2>15&nbsp;<a href="#locales">¿Tienen locales a la calle?</a></h2>
    <h2>16&nbsp;<a href="#cambios">Cambios y devoluciones.</a></h2>
    <p></p>
    <p></p>
    <p>&nbsp;</p>
    <p></p>
    <p></p>
    <h2><a id="porque"></a>1 ¿Qué es FootGoose?</h2>
    <p>FootGoose es el 1er pet shop on line de Argentina, donde podes comprar las 24hs, los 365 días del año y recibir el pedido en tu domicilio. Tenemos la mayor variedad de alimentos y accesorios novedosos para todo tipo de mascotas.</p>
    <p>&nbsp;</p>
    <p></p>
    <h2><a id="contacto"></a>2 ¿Por qué comprar?</h2>
    <p>Porque comprar desde tu smart phone o compu es cómodo y fácil. Porque ofrecemos la más amplia variedad en accesorios y alimentos para mascotas. Y además recibis tu pedido en tu hogar con una relación precio-servicio inmejorable!</p>
    <p>&nbsp;</p>
    <h2><a id="como"></a>3 ¿Cómo contactarme?</h2>
    <p>Toda la información sobre descripción de productos y la forma de como comprar está detallada en cada sección de nuestra página. Si aun así tenes alguna consulta, podes escribirnos al&nbsp;whatsapp 11 4493 2370 de <strong>Lunes a Viernes de 9 a 18hs</strong>.</p>
    <p>&nbsp;</p>
    <p></p>
    <h2>4&nbsp;¿Cómo comprar?</h2>
    <p>Es muy fácil, el pedido lo hacen en nuestra pagina web las 24hs, desde tu Smart Phone o Compu:</p>
    <p></p>
    <p><b>1° AGREGAR&nbsp;AL CARRITO:</b>&nbsp;Elegí los productos que quieras indicando la cantidad, color, etc y haciendo clic en "AGREGAR AL CARRITO" y luego "Ver Carrito".</p>
    <p><b>2° CONFIRMAR COMPRA:</b>&nbsp;Inicia sesión con tu e mail y contraseña. Si sos nuevo cliente,&nbsp;<a href="https://www.timberline.com.ar/iniciar-sesion?create_account=1">crea tu cuenta.</a></p>
    <p><strong>3° CONFIRMAR DOMICILIO:</strong>&nbsp;Seleccioná el domicilio para recibir el pedido. Podes tener mas de un domicilio de entrega.</p>
    <p><strong><a id="pagar"></a>4° CONFIRMAR ENVÍO:</strong>&nbsp;Elegí entre envío "RÁPIDO" o "MERCADO ENVIOS" a todos el país (lo cotiza en el momento).</p>
    <p><strong>5° CONFIRMAR PAGO:</strong>&nbsp;"Efectivo contra entrega", "Transferencia" o "<a href="https://www.mercadolibre.com.ar/gz/home/payments/methods" target="_blank">Mercado Pago ( Tarjeta de credito o Debito, Pago Facil, etc)</a>"</p>
    <p></p>
    <p>Listo! Una vez procesado tu pedido recibirás un whatsapp con el día y horario de entrega.</p>
    <p>&nbsp;</p>
    <p></p>
    <h2>5&nbsp;¿Cómo pagar?</h2>
    <p><strong>Efectivo:</strong> Pagás en efectivo al recibir el pedido en tu domicilio. Tenes un 10% de descuento (se aplica cuando elegís la forma de pago).</p>
    <p>Las marcas Unik y Nutrique no participan de esta promoción.</p>
    <p><strong><a id="precios"></a>Mercado Pago:</strong>&nbsp;El pago se hace en el carrito de compras de nuestra página y podes pagar con tarjeta de crédito o débito, Pago Fácil, Rapi Pago, Provincia Net y dinero en Mercado Pago.&nbsp;<a href="https://www.mercadopago.com.ar/cuotas">Ver promociones bancarias vigentes.</a> Debe recibir el pedido una persona mayor con DNI en mano.</p>
    <p><strong>Transferencia Bancaria: </strong>Depositas o transferís el pago de tu compra. El tiempo de entregas se pueden demorar 48 hs hábiles más y este tipo de compra no son cancelables.</p>
    <p id="envios"></p>
    <p>&nbsp;</p>
    <h2>6&nbsp;¿Los precios y stock están actualizados?</h2>
    <p>Si, todos los precios publicados están actualizados y en cada producto te dice si está en stock o no.&nbsp;</p>
    <p>&nbsp;</p>
    <p></p>
    <h2><a id="entrega"></a>7&nbsp;¿El envío tiene costo?</h2>
    <p>Si tu compra supera los $1500.- el primer delivery es gratis dentro de la <a href="https://www.timberline.com.ar/info/15-envios">zona de envío</a>. Los envíos a todo el país por Mercado Envíos te mostrará el costo de acuerdo a la ciudad de destino y peso de tu pedido cuando haces el check out.</p>
    <p>&nbsp;</p>
    <p></p>
    <h2><a id="quien"></a>8&nbsp;¿Cuando se entrega mi pedido?</h2>
    <p>El "Envío Rápido" es de 1 a 2 días hábiles de procesado el pedido. En zona oeste de 1 a 3 días hábiles. Te enviaremos un whatsapp confirmando el día y rango horario en las que recibirás tu pedido. *El tiempo de la entrega está sujeto a imprevistos en el tránsito y cuestiones climáticas o logísticas. Para los envíos por encomienda dependerá de Mercado Envíos.</p>
    <p>&nbsp;</p>
    <p></p>
    <h2><a id="nadie"></a>9&nbsp;¿Quién puede recibir mi pedido?</h2>
    <p>Podes recibirlo vos mismo, o el portero o vecino de confianza, siempre aclarándolo en la orden de compra. Si tu pago es con tarjeta de crédito o débito, únicamente lo puede recibir una persona mayor de edad con DNI en mano.</p>
    <p>&nbsp;</p>
    <p></p>
    <h2><a id="delivery"></a>10&nbsp;Si no hay nadie para recibir, ¿qué sucede?</h2>
    <p>Si el delivery pasa dentro de las 3 horas pactadas y no hay nadie para recibirlo; primero nos comunicaremos a los teléfonos que cargaste en tu registro de usuario y si nadie responde se re-coordina la entrega para otro día, sumándose el costo de un envío adicional. Si tenes que ausentarte de tu domicilio, no pudiendo recibir tu pedido, avisanos antes del horario pactado de entrega al whatsapp 11 4493 2370.&nbsp;</p>
    <p id="direccion"></p>
    <p>&nbsp;</p>
    <h2>11 ¿Qué pasa si el delivery no llega a horario?</h2>
    <p>Nos comunicaremos para ver si lo podes esperar y en el caso de que no puedas esperarlo se re-coordina la entrega sin ningún tipo de costo adicional.</p>
    <p id="descuento"></p>
    <p>&nbsp;</p>
    <h2>12 ¿Puedo cambiar la dirección de envío?</h2>
    <p>Si, podes cambiar o agregar una dirección de envío ingresando a Mi Cuenta / Direcciones una vez que este logueado en la página.</p>
    <p id="datos"></p>
    <p>&nbsp;</p>
    <h2>13 ¿Cómo aplican los descuentos?</h2>
    <p>El 5% Off por efectivo se aplicará cuando elijas la forma de pago automáticamente. Si tenes un código de descuento lo tenes que aplicar cuando haces el check-out, en el campo "código de promoción".</p>
    <p>&nbsp;</p>
    <p></p>
    <h2><a id="locales"></a>14 ¿Es seguro ingresar mis datos?</h2>
    <p>Tus datos personales, de domicilio y de pago, como también el contenido de su pedido no serán compartidos ni divulgados bajo ningún concepto. Éstos datos no serán utilizados para otros fines, más que el procesamiento de sus pedidos.</p>
    <p id="cambios"></p>
    <p>&nbsp;</p>
    <h2>15 ¿Tienen locales a la calle?</h2>
    <p>No, FootGoose&nbsp;es un pet shop on line&nbsp;donde podes elegir los productos, comprar y recibirlos cómodamente en tu domicilio.</p>
    <p>&nbsp;</p>
    <p></p>
    <h2>16 Cambios y devoluciones</h2>
    <p>Si necesitas hacer un cambio, avísanos dentro de los primeros 10 días naturales a la recepción del pedido, mandando un whatsapp 11 4423 9370.</p>
    <p>Es necesario que se cumplan las siguientes condiciones:</p>
    <ul><li>El producto NO fue usado.</li>
    <li>El packaging original este cerrado con los sellos de fábrica.</li>
    <li>El packaging NO se encuentra rayado, con golpes, sucio, mojado o con otra forma de maltrato.</li>
    <li>El producto NO sea discontinuo.</li>
    <li>El producto NO tiene componentes eléctricos.</li>
    </ul><p></p>
    <p>Los reclamos por alimento balanceado, los debe realizar el cliente a través de los servicios de atención al cliente de cada marca y ellos harán el cambio. Eukanuba 0800-888-4267 Royal Canin 0800-333-76925 Purina 0800-999-3747 Vital Can 0800 666 8226.&nbsp;</p>
    <p>Es muy importante que al momento de la recepción del pedido revises (o la persona que reciba el pedido) el correcto estado de los productos antes de firmar el remito de entrega. La firma y DNI es el consentimiento que recibiste el pedido en correctas condiciones. En los cambios o devoluciones el costo de envío no esta bonificado, deberá ser abonado por el cliente según las tarifas vigentes.</p>
      </section>
      </section>
        <%- include('./partials/footer')%>

</body>
</html>