<!DOCTYPE html>
<html lang="es">
  
  <%- include('./partials/head') %> 
  <body>
    <%- include('./partials/header') %> 

    <!--DETALLE DE PRODUCTOS-->
   
		<div class="container contenido products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Detalle de producto</h2>
        </div>
      </div>
      <div class="product-detail">
        <div class="row">
          <div class="col-12 col-lg-8">
            <img src="/images/productos/alimento-aves.png" alt="Alimento Aves" class="product-detail-img">
            
          </div>
          <div class="col-12 col-lg-4">
            <article class="product-detail-info">
              <h2 class="product-detail-title">Alimento de aves</h2>
                  <p class="product-detail-price">
                    $1000
                  </p>
              <ul class="actions-list">
                <li>
                  <i class="fas fa-credit-card"></i>
                  <p>Pagá en cuotas</p>
                </li>
              </ul>
              <% if (typeof localUser !=='undefined' ) { %>
                <a href="#" class="add-cart-button">AÑADIR AL CARRITO</a><a href="#" class="buy-now-button">COMPRAR AHORA</a>
                <% } %>
             
              <hr>
              <p class="product-detail-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, eius porro. Repellendus vero minus in mollitia quo enim ipsa aut necessitatibus, vel, commodi iste aliquam nesciunt tenetur, dolore maiores autem.
              </p>
              
            </article>
          </div>
        </div>
      </div>
    </div>
    <br><br>

    <!--FIN DE DETALLE DE PRODUCTOS-->

  <%- include('./partials/footer') %> 
  </body>
</html>