<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DwEKl-TzlPw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <%- include('./partials/footer')%>
</body>
</html>