<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
        <%- include('./partials/header')%>
        <div class="container-fluid contenido d-flex justify-content-center"> 
            <iframe width="1156" height="650" src="https://www.youtube.com/embed/ucdbimXhr_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <%- include('./partials/footer')%>

</body>
</html>